body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEF9BF;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;
    margin-top: 40px;
}

.carta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 146px;
    width: 117px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #99CEA8;
    transition: all .5s;
    transform-style: preserve-3d;

}

.cartas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 70%;
}

.frente{
    width: 100px;
    height: 100px;
}
.verso{
    width: 100px;
    height: 100px;
}


.virado {
    transform: rotateY(180deg)
}
.revirado{
        transform: rotateY(0deg)
}

.escondido {
    display: none;
}

@media (max-width: 629px){

    .cartas {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 100%;
        
    }
    .carta {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 146px;
        width: 117px;
        margin-left: 37%;
        margin-top: 50px;
        border-radius: 5px;
        background-color: #99CEA8;
    }

    .titulo{
        font-size: 50px;
        word-wrap: break-word;
        text-align: center;
        
    }
    body{
        width: 100%;
        position: relative;
        align-items: center;
    }

}